@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>صفحه ارور 404 گمشده در فضا</title>
    <link type="text/css" href="404/css/style.css" rel="stylesheet" />
</head>

<body class="bg-purple">
        <div class="central-body">
            <img class="image-404" src="404/pics/404.png" width="300px">
            <a href="#" class="btn-go-home" target="_blank">بازگشت</a>
        </div>
        <div class="objects">
            <img class="object_rocket" src="404/pics/rocket.svg" width="40px">
            <div class="earth-moon">
                <img class="object_earth" src="404/pics/earth.svg" width="100px">
                <img class="object_moon" src="404/pics/moon.svg" width="80px">
            </div>
            <div class="box_astronaut">
                <img class="object_astronaut" src="404/pics/astronaut.svg" width="140px">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
        <!-- end content -->
    </div>
    <script src="404/js/jquery-3.1.1.min.js"></script>
</body><!-- This template has been downloaded from Webrubik.com -->

</html>
