@{
    ViewData["Title"] = "AddCategory";
}
@{
    Layout = "_AdminLayout";
}
<div class="card">
    <form asp-controller="Category" asp-action="CreateCategory" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <h4 class="card-title">Create Category</h4>
            </p>
            <div class="form-group">
                <label>Title</label>
                <input required type="text" name="Title" class="form-control form-control-lg" placeholder="Title"
                    aria-label="Username">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input required type="text" name="Description" class="form-control" placeholder="Description"
                    aria-label="Username">
            </div>
            <div class="form-group">
                <label>Image</label>
                <input required type="file" name="Image" class="form-control" placeholder="Image" aria-label="Username">
            </div>
            <div class="form-group">
                <label>SVG</label>
                <input required name="svg" type="file" class="form-control" placeholder="SVG" aria-label="Username">
            </div>
            <button type="submit" class="btn btn-outline-primary btn-fw">Create</button>
        </div>
    </form>

</div>