@{
    ViewData["Title"] = "AddFood";
}
@{
    Layout = "_AdminLayout";
}
<div class="card">
    <form asp-controller="Food" asp-action="CreateFood" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <h4 class="card-title">Create Food</h4>
            </p>
            <div class="form-group">
                <label>Title</label>
                <input type="text" name="Title" class="form-control form-control-lg" placeholder="Title"
                    aria-label="Title">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" name="Description" class="form-control" placeholder="Description"
                    aria-label="Description">
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="file" name="Image" class="file-upload-default">
                <div class="input-group col-xs-12">
                    <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                    <span class="input-group-append">
                        <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                    </span>
                </div>
            </div>
            
            <div class="form-group">
                <label>Price</label>
                <input type="text" name="Price" class="form-control" placeholder="Price" aria-label="Price">
            </div>
            <div class="form-group">
                <label>Score</label>
                <input type="number" name="Score" class="form-control" placeholder="Score " aria-label="Score">
            </div>
            <div class="form-group">
                <label>Categorys</label>
                <select name="CategoryIds" class="js-example-basic-multiple select2-hidden-accessible" multiple=""
                    style="width:100%" data-select2-id="4" tabindex="-1" aria-hidden="true">
                    @foreach (var item in (IEnumerable<CategoryDTO>)ViewData["Category"])
                    {
                        <option data="@item.Id" value="@item.Id">@item.Title</option>
                    }
                </select>
                <span
                    class="select2 select2-container select2-container--default select2-container--above select2-container--focus"
                    dir="ltr" data-select2-id="5" style="width: 100%;">
                    <span class="selection"></span>
                    <span class="dropdown-wrapper" aria-hidden="true"></span>
                </span>
            </div>


            <button type="submit" class="btn btn-outline-primary btn-fw">Create</button>
        </div>
    </form>

</div>