@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_AdminLayout";
}
<div id="Orders" class="row">

</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $.get("/Order/Orders", function (html) {
            $("#Orders").html(html);
        });

    });
</script>