@model IEnumerable<OrderDTO>
@foreach (var item in Model)
{
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button style="font-size: 20px;font-weight: bold;" class="accordion-button collapsed" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapse-1" aria-expanded="false"
                aria-controls="flush-collapse-1">
                @item.Id
            </button>
        </h2>
        <div id="flush-collapse-1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" style="font-size: 15px;">
                وضعیت سفارش :  <span style="color: green;">@item.OrderStatus</span>
                <br>
                وضعیت پرداخت شما : @if (item.StatePay == StatePay.IsPay) {<span style="color: green;">پرداخت شده</span>} else {<span style="color: red;">پرداخت نشده</span>}
                    <br>
                    {
                        @{
                            System.Globalization.PersianCalendar persianCalendar = new System.Globalization.PersianCalendar();

                            string date = persianCalendar.GetHour(item.CreatedDate) + ":" + persianCalendar.GetMinute(item.CreatedDate) + "     " + persianCalendar.GetYear(item.CreatedDate) + "/" + persianCalendar.GetMonth(item.CreatedDate) + "/" +
                            persianCalendar.GetDayOfMonth(item.CreatedDate);

                        }
                        تاریخ سفارش : 
            <span style="color: green;">@date
                        </span>
                        <br>
                        جزییات سفارش : 
            <span style="color: green;">@foreach (var i in item.OrderItems) {
                                <span>@i.FoodTitle
                                    ,</span>
                            }
                        </span>
                        <br>
                قیمت کل:
            <span style="color: green;">@item.TotalPrice</span>
                        </div>
                        </div>
                        </div>
                    }